target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
tmp/backresources/configs.yml
tmp/backresources/dashboard-user.yml
tmp/backresources/dashboard-user-role.yml
tmp/backresources/department.yml
tmp/backresources/employee.yml
tmp/backresources/front.yml
tmp/backresources/ingress.yml
tmp/backresources/mongodb.yml
tmp/backresources/organization.yml
tmp/backresources/organization-v2.yml
tmp/backresources/secrets.yml
tmp/backresources/istio/cert-clusterissuer.yml
tmp/backresources/istio/cert-myhumanresources.yml
tmp/backresources/istio/cors-authorization-policy.yml
tmp/backresources/istio/department-virtual-service.yml
tmp/backresources/istio/employee-destination-rule.yml
tmp/backresources/istio/employee-virtual-service.yml
tmp/backresources/istio/front-virtual-service.yml
tmp/backresources/istio/human-resources-gateway.yml
tmp/backresources/istio/istio-ingressgateway.yaml
tmp/backresources/istio/jwt-authorization-policy.yml
tmp/backresources/istio/jwt-request-authentication.yml
tmp/backresources/istio/organiaztion-destination-rule.yml
tmp/backresources/istio/organization-virtual-service.yml
tmp/demo/.gitignore
tmp/demo/mvnw
tmp/demo/mvnw.cmd
tmp/demo/pom.xml
tmp/demo/.mvn/wrapper/maven-wrapper.jar
tmp/demo/.mvn/wrapper/maven-wrapper.properties
tmp/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/demo/src/main/java/com/example/demo/controllers/NoteController.java
tmp/demo/src/main/java/com/example/demo/models/Note.java
tmp/demo/src/main/java/com/example/demo/repositories/NotesRepository.java
tmp/demo/src/main/resources/application.properties
tmp/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/dockr/demo/.dockerignore
tmp/dockr/demo/.gitignore
tmp/dockr/demo/docker-compose.debug.yml
tmp/dockr/demo/docker-compose.yml
tmp/dockr/demo/Dockerfile
tmp/dockr/demo/mvnw
tmp/dockr/demo/mvnw.cmd
tmp/dockr/demo/pom.xml
tmp/dockr/demo/.mvn/wrapper/maven-wrapper.jar
tmp/dockr/demo/.mvn/wrapper/maven-wrapper.properties
tmp/dockr/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/dockr/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/dockr/demo/src/main/java/com/example/demo/DummyController.java
tmp/dockr/demo/src/main/resources/application.properties
tmp/dockr/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/k8/Department/demo/.dockerignore
tmp/k8/Department/demo/.gitignore
tmp/k8/Department/demo/department.yml
tmp/k8/Department/demo/docker-compose.debug.yml
tmp/k8/Department/demo/docker-compose.yml
tmp/k8/Department/demo/Dockerfile
tmp/k8/Department/demo/mvnw
tmp/k8/Department/demo/mvnw.cmd
tmp/k8/Department/demo/pom.xml
tmp/k8/Department/demo/.mvn/wrapper/maven-wrapper.jar
tmp/k8/Department/demo/.mvn/wrapper/maven-wrapper.properties
tmp/k8/Department/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/k8/Department/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/k8/Department/demo/src/main/java/com/example/demo/controllers/DepartmentController.java
tmp/k8/Department/demo/src/main/java/com/example/demo/models/Department.java
tmp/k8/Department/demo/src/main/java/com/example/demo/models/Employee.java
tmp/k8/Department/demo/src/main/java/com/example/demo/repositories/DepartmentRepository.java
tmp/k8/Department/demo/src/main/java/com/example/demo/services/EmployeeService.java
tmp/k8/Department/demo/src/main/resources/application.properties
tmp/k8/Department/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/k8/Employee/demo/.dockerignore
tmp/k8/Employee/demo/.gitignore
tmp/k8/Employee/demo/docker-compose.debug.yml
tmp/k8/Employee/demo/docker-compose.yml
tmp/k8/Employee/demo/Dockerfile
tmp/k8/Employee/demo/employee.yml
tmp/k8/Employee/demo/mvnw
tmp/k8/Employee/demo/mvnw.cmd
tmp/k8/Employee/demo/pom.xml
tmp/k8/Employee/demo/.mvn/wrapper/maven-wrapper.jar
tmp/k8/Employee/demo/.mvn/wrapper/maven-wrapper.properties
tmp/k8/Employee/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/k8/Employee/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/k8/Employee/demo/src/main/java/com/example/demo/controllers/EmployeeController.java
tmp/k8/Employee/demo/src/main/java/com/example/demo/models/Employee.java
tmp/k8/Employee/demo/src/main/java/com/example/demo/repositories/EmployeeRepository.java
tmp/k8/Employee/demo/src/main/resources/application.properties
tmp/k8/Employee/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/k8/Organization/demo/.dockerignore
tmp/k8/Organization/demo/.gitignore
tmp/k8/Organization/demo/docker-compose.debug.yml
tmp/k8/Organization/demo/docker-compose.yml
tmp/k8/Organization/demo/Dockerfile
tmp/k8/Organization/demo/mvnw
tmp/k8/Organization/demo/mvnw.cmd
tmp/k8/Organization/demo/organization.yml
tmp/k8/Organization/demo/pom.xml
tmp/k8/Organization/demo/src.zip
tmp/k8/Organization/demo/.mvn/wrapper/maven-wrapper.jar
tmp/k8/Organization/demo/.mvn/wrapper/maven-wrapper.properties
tmp/k8/Organization/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/k8/Organization/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/k8/Organization/demo/src/main/java/com/example/demo/controllers/OrganizationController.java
tmp/k8/Organization/demo/src/main/java/com/example/demo/models/Department.java
tmp/k8/Organization/demo/src/main/java/com/example/demo/models/Employee.java
tmp/k8/Organization/demo/src/main/java/com/example/demo/models/Organization.java
tmp/k8/Organization/demo/src/main/java/com/example/demo/repositories/OrganizationRepository.java
tmp/k8/Organization/demo/src/main/java/com/example/demo/services/DepartmentService.java
tmp/k8/Organization/demo/src/main/java/com/example/demo/services/EmployeeService.java
tmp/k8/Organization/demo/src/main/resources/application.properties
tmp/k8/Organization/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/k8/Resources/configMaps.yml
tmp/k8/Resources/dashboard-user.yml
tmp/k8/Resources/dashboard-user-role.yml
tmp/k8/Resources/ingress.yml
tmp/k8/Resources/ingress-gateway-ingress.yaml
tmp/k8/Resources/mongodb.yml
tmp/k8/Resources/secret.yml
tmp/k8/Swagger/demo/.dockerignore
tmp/k8/Swagger/demo/.gitignore
tmp/k8/Swagger/demo/docker-compose.debug.yml
tmp/k8/Swagger/demo/docker-compose.yml
tmp/k8/Swagger/demo/Dockerfile
tmp/k8/Swagger/demo/gateway.yml
tmp/k8/Swagger/demo/mvnw
tmp/k8/Swagger/demo/mvnw.cmd
tmp/k8/Swagger/demo/pom.xml
tmp/k8/Swagger/demo/.mvn/wrapper/maven-wrapper.jar
tmp/k8/Swagger/demo/.mvn/wrapper/maven-wrapper.properties
tmp/k8/Swagger/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/k8/Swagger/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/k8/Swagger/demo/src/main/java/com/example/demo/DummyController.java
tmp/k8/Swagger/demo/src/main/resources/application.properties
tmp/k8/Swagger/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/oktaSPAIstio/OktaSpa/.browserslistrc
tmp/oktaSPAIstio/OktaSpa/.dockerignore
tmp/oktaSPAIstio/OktaSpa/.editorconfig
tmp/oktaSPAIstio/OktaSpa/.gitignore
tmp/oktaSPAIstio/OktaSpa/angular.json
tmp/oktaSPAIstio/OktaSpa/docker-compose.debug.yml
tmp/oktaSPAIstio/OktaSpa/docker-compose.yml
tmp/oktaSPAIstio/OktaSpa/Dockerfile
tmp/oktaSPAIstio/OktaSpa/karma.conf.js
tmp/oktaSPAIstio/OktaSpa/nginx.conf
tmp/oktaSPAIstio/OktaSpa/package.json
tmp/oktaSPAIstio/OktaSpa/package-lock.json
tmp/oktaSPAIstio/OktaSpa/README.md
tmp/oktaSPAIstio/OktaSpa/tsconfig.app.json
tmp/oktaSPAIstio/OktaSpa/tsconfig.json
tmp/oktaSPAIstio/OktaSpa/tsconfig.spec.json
tmp/oktaSPAIstio/OktaSpa/tslint.json
tmp/oktaSPAIstio/OktaSpa/.vscode/launch.json
tmp/oktaSPAIstio/OktaSpa/.vscode/tasks.json
tmp/oktaSPAIstio/OktaSpa/e2e/protractor.conf.js
tmp/oktaSPAIstio/OktaSpa/e2e/tsconfig.json
tmp/oktaSPAIstio/OktaSpa/e2e/src/app.e2e-spec.ts
tmp/oktaSPAIstio/OktaSpa/e2e/src/app.po.ts
tmp/oktaSPAIstio/OktaSpa/src/favicon.ico
tmp/oktaSPAIstio/OktaSpa/src/index.html
tmp/oktaSPAIstio/OktaSpa/src/main.ts
tmp/oktaSPAIstio/OktaSpa/src/polyfills.ts
tmp/oktaSPAIstio/OktaSpa/src/styles.scss
tmp/oktaSPAIstio/OktaSpa/src/test.ts
tmp/oktaSPAIstio/OktaSpa/src/app/app.component.html
tmp/oktaSPAIstio/OktaSpa/src/app/app.component.scss
tmp/oktaSPAIstio/OktaSpa/src/app/app.component.spec.ts
tmp/oktaSPAIstio/OktaSpa/src/app/app.component.ts
tmp/oktaSPAIstio/OktaSpa/src/app/app.module.ts
tmp/oktaSPAIstio/OktaSpa/src/app/app-routing.module.ts
tmp/oktaSPAIstio/OktaSpa/src/app/AuthGuard.ts
tmp/oktaSPAIstio/OktaSpa/src/app/auth-routing.module.ts
tmp/oktaSPAIstio/OktaSpa/src/app/department.service.spec.ts
tmp/oktaSPAIstio/OktaSpa/src/app/department.service.ts
tmp/oktaSPAIstio/OktaSpa/src/app/employee.service.spec.ts
tmp/oktaSPAIstio/OktaSpa/src/app/employee.service.ts
tmp/oktaSPAIstio/OktaSpa/src/app/organization.service.spec.ts
tmp/oktaSPAIstio/OktaSpa/src/app/organization.service.ts
tmp/oktaSPAIstio/OktaSpa/src/app/home/home.component.html
tmp/oktaSPAIstio/OktaSpa/src/app/home/home.component.scss
tmp/oktaSPAIstio/OktaSpa/src/app/home/home.component.spec.ts
tmp/oktaSPAIstio/OktaSpa/src/app/home/home.component.ts
tmp/oktaSPAIstio/OktaSpa/src/app/interceptors/auth-interceptor.ts
tmp/oktaSPAIstio/OktaSpa/src/app/login/login.component.html
tmp/oktaSPAIstio/OktaSpa/src/app/login/login.component.scss
tmp/oktaSPAIstio/OktaSpa/src/app/login/login.component.spec.ts
tmp/oktaSPAIstio/OktaSpa/src/app/login/login.component.ts
tmp/oktaSPAIstio/OktaSpa/src/assets/.gitkeep
tmp/oktaSPAIstio/OktaSpa/src/assets/env.js
tmp/oktaSPAIstio/OktaSpa/src/assets/env.template.js
tmp/oktaSPAIstio/OktaSpa/src/environments/environment.prod.ts
tmp/oktaSPAIstio/OktaSpa/src/environments/environment.ts
tmp/resourcesTMP/configs.yml
tmp/resourcesTMP/dashboard-user.yml
tmp/resourcesTMP/dashboard-user-role.yml
tmp/resourcesTMP/department.yml
tmp/resourcesTMP/docker-compose.yml
tmp/resourcesTMP/employee.yml
tmp/resourcesTMP/front.yml
tmp/resourcesTMP/ingress.yml
tmp/resourcesTMP/mongodb.yml
tmp/resourcesTMP/organization.yml
tmp/resourcesTMP/organization-v2.yml
tmp/resourcesTMP/secrets.yml
tmp/resourcesTMP/istio/cert-clusterissuer.yml
tmp/resourcesTMP/istio/cert-myhumanresources.yml
tmp/resourcesTMP/istio/cors-authorization-policy.yml
tmp/resourcesTMP/istio/department-virtual-service.yml
tmp/resourcesTMP/istio/employee-destination-rule.yml
tmp/resourcesTMP/istio/employee-virtual-service.yml
tmp/resourcesTMP/istio/front-virtual-service.yml
tmp/resourcesTMP/istio/hpaOrganizations.yml
tmp/resourcesTMP/istio/human-resources-gateway.yml
tmp/resourcesTMP/istio/istio-ingressgateway.yaml
tmp/resourcesTMP/istio/jwt-authorization-policy.yml
tmp/resourcesTMP/istio/jwt-authorization-policy-identityserver.yml
tmp/resourcesTMP/istio/jwt-request-authentication.yml
tmp/resourcesTMP/istio/jwt-request-authentication-identityserver.yml
tmp/resourcesTMP/istio/organiaztion-destination-rule.yml
tmp/resourcesTMP/istio/organization-virtual-service.yml
tmp/sc/eureka/demo/.gitignore
tmp/sc/eureka/demo/mvnw
tmp/sc/eureka/demo/mvnw.cmd
tmp/sc/eureka/demo/pom.xml
tmp/sc/eureka/demo/.mvn/wrapper/maven-wrapper.jar
tmp/sc/eureka/demo/.mvn/wrapper/maven-wrapper.properties
tmp/sc/eureka/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/sc/eureka/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/sc/eureka/demo/src/main/resources/application.properties
tmp/sc/eureka/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/sc/firstService/demo/.gitignore
tmp/sc/firstService/demo/mvnw
tmp/sc/firstService/demo/mvnw.cmd
tmp/sc/firstService/demo/pom.xml
tmp/sc/firstService/demo/.mvn/wrapper/maven-wrapper.jar
tmp/sc/firstService/demo/.mvn/wrapper/maven-wrapper.properties
tmp/sc/firstService/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/sc/firstService/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/sc/firstService/demo/src/main/java/com/example/demo/DummyController.java
tmp/sc/firstService/demo/src/main/resources/application.properties
tmp/sc/firstService/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/sc/gateway/demo/.gitignore
tmp/sc/gateway/demo/mvnw
tmp/sc/gateway/demo/mvnw.cmd
tmp/sc/gateway/demo/pom.xml
tmp/sc/gateway/demo/.mvn/wrapper/maven-wrapper.jar
tmp/sc/gateway/demo/.mvn/wrapper/maven-wrapper.properties
tmp/sc/gateway/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/sc/gateway/demo/src/main/java/com/example/demo/AppConfig.java
tmp/sc/gateway/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/sc/gateway/demo/src/main/resources/application.yml
tmp/sc/gateway/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/sc/secondService/.vscode/settings.json
tmp/sc/secondService/demo/.gitignore
tmp/sc/secondService/demo/mvnw
tmp/sc/secondService/demo/mvnw.cmd
tmp/sc/secondService/demo/pom.xml
tmp/sc/secondService/demo/.mvn/wrapper/maven-wrapper.jar
tmp/sc/secondService/demo/.mvn/wrapper/maven-wrapper.properties
tmp/sc/secondService/demo/.mvn/wrapper/MavenWrapperDownloader.java
tmp/sc/secondService/demo/src/main/java/com/example/demo/BotModel.java
tmp/sc/secondService/demo/src/main/java/com/example/demo/BotService.java
tmp/sc/secondService/demo/src/main/java/com/example/demo/BotServiceImpl.java
tmp/sc/secondService/demo/src/main/java/com/example/demo/DemoApplication.java
tmp/sc/secondService/demo/src/main/java/com/example/demo/Dummy1Service.java
tmp/sc/secondService/demo/src/main/java/com/example/demo/DummyController.java
tmp/sc/secondService/demo/src/main/java/com/example/demo/DummyFallBack.java
tmp/sc/secondService/demo/src/main/resources/application.yml
tmp/sc/secondService/demo/src/test/java/com/example/demo/DemoApplicationTests.java
tmp/web/notesweb/.browserslistrc
tmp/web/notesweb/.editorconfig
tmp/web/notesweb/.gitignore
tmp/web/notesweb/angular.json
tmp/web/notesweb/karma.conf.js
tmp/web/notesweb/package.json
tmp/web/notesweb/package-lock.json
tmp/web/notesweb/README.md
tmp/web/notesweb/tsconfig.app.json
tmp/web/notesweb/tsconfig.json
tmp/web/notesweb/tsconfig.spec.json
tmp/web/notesweb/tslint.json
tmp/web/notesweb/.vscode/launch.json
tmp/web/notesweb/e2e/protractor.conf.js
tmp/web/notesweb/e2e/tsconfig.json
tmp/web/notesweb/e2e/src/app.e2e-spec.ts
tmp/web/notesweb/e2e/src/app.po.ts
tmp/web/notesweb/src/favicon.ico
tmp/web/notesweb/src/index.html
tmp/web/notesweb/src/main.ts
tmp/web/notesweb/src/polyfills.ts
tmp/web/notesweb/src/styles.scss
tmp/web/notesweb/src/test.ts
tmp/web/notesweb/src/app/app.component.html
tmp/web/notesweb/src/app/app.component.scss
tmp/web/notesweb/src/app/app.component.spec.ts
tmp/web/notesweb/src/app/app.component.ts
tmp/web/notesweb/src/app/app.module.ts
tmp/web/notesweb/src/app/app-routing.module.ts
tmp/web/notesweb/src/app/notes.service.spec.ts
tmp/web/notesweb/src/app/notes.service.ts
tmp/web/notesweb/src/app/notification-message.service.spec.ts
tmp/web/notesweb/src/app/notification-message.service.ts
tmp/web/notesweb/src/app/notes/notes.component.html
tmp/web/notesweb/src/app/notes/notes.component.scss
tmp/web/notesweb/src/app/notes/notes.component.spec.ts
tmp/web/notesweb/src/app/notes/notes.component.ts
tmp/web/notesweb/src/app/notes-list/notes-list.component.html
tmp/web/notesweb/src/app/notes-list/notes-list.component.scss
tmp/web/notesweb/src/app/notes-list/notes-list.component.spec.ts
tmp/web/notesweb/src/app/notes-list/notes-list.component.ts
tmp/web/notesweb/src/assets/.gitkeep
tmp/web/notesweb/src/environments/environment.prod.ts
tmp/web/notesweb/src/environments/environment.ts
oauth.zip
NetflixOSS/secondService/demo/src/test/java/com/example/demo/DecryptItem.java
NetflixOSS/secondService/demo/src/test/java/com/example/demo/DecryptRequest.java
NetflixOSS/secondService/demo/src/test/java/com/example/demo/DecryptResponse.java
